.page-main-bg {
  min-height: calc(100vh - 100px);
  box-shadow: 0 0 20px #AAA;
  background: #FFF;
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
  }
}

.page {
  min-height: 100vh;
  background: #FBFBFB;
  @include media-breakpoint-up(lg) {
    height: 100vh;
    width: 100vw;

    .page-sidebar {
      float: left;
      height: 100vh;
      width: 25vw;
      overflow: auto;
      box-shadow: 0 0 20px #000;
    }

    .page-body {
      float: left;
      height: 100vh;
      width: 75vw;
      overflow: auto;
    }
  }
  @include media-breakpoint-up(xl) {
    .page-sidebar {
      width: 20vw;
    }

    .page-body {
      width: 80vw;
    }
  }
  .page-title {
    padding: $spacer 0;
  }
  .page-sidebar {
    position: relative;
    background-color: $sidebar-background;
  }
}

.bg-main {
  background-color: $sidebar-background;
}

.page-logo {
  padding: $spacer;
  background-color: lighten($sidebar-background, 5%);
  img {
    max-height: 150px;
  }
  h2 {
    color: lighten($sidebar-background, 40%);
  }
}

