$color-black: #000;

.page-main-bg {
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
  }

  background: $body-bg;
  box-shadow: 0 0 20px $gray-500;
  min-height: calc(100vh - 100px);
}

.page {
  @include media-breakpoint-up(lg) {
    height: 100vh;
    width: 100vw;

    .page-sidebar {
      box-shadow: 0 0 20px $color-black;
      float: left;
      height: 100vh;
      overflow: auto;
      width: 25vw;
    }

    .page-body {
      float: left;
      height: 100vh;
      overflow: auto;
      width: 75vw;
      flex: 1;
    }
  }

  @include media-breakpoint-up(xl) {
    .page-sidebar {
      width: 20vw;
    }

    .page-body {
      width: 80vw;
    }
  }

  background: $gray-200;
  min-height: 100vh;

  .page-title {
    padding: $spacer 0;
  }

  .page-sidebar {
    background-color: $sidebar-background;
    position: relative;
    z-index: 25;
  }
}

.bg-main {
  background-color: $sidebar-background;
}

.page-logo {
  background-color: lighten($sidebar-background, 5%);
  padding: $spacer;

  img {
    max-height: 150px;
  }

  h2 {
    color: lighten($sidebar-background, 40%);
  }
}

