$sidebar-background: #34495e;

// Greens
$color-turquoise: #1abc9c;
$color-green-sea: #16a085;
$color-emerald: #2ecc71;
$color-nephritis: #27ae60;

// blues
$color-peter-river: #3498db;
$color-belize-hole: #2980b9;
$color-wet-asphalt: #34495e;
$color-midnight-blue: #2c3e50;

// purples
$color-amethyst: #9b59b6;
$color-wisteria: #8e44ad;

// yellows
$color-sunflower: #f1c40f;

// oranges
$color-orange: #f39c12;
$color-carrot: #e67e22;
$color-pumpkin: #d35400;

// reds
$color-alizarin: #e74c3c;
$color-pomegranate: #c0392b;

// grays
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-concrete: #95a5a6;
$color-asbestos: #7f8c8d;
