<div class="sidebar">
    <a href="#" class="pull-right hidden-lg-up pull-xs-right py-1 px-1 text-muted" data-toggle="collapse" data-target="#main-menu">
        &#9776;
    </a>
    <div class="text-lg-center py-1 px-1">
        <a class="site-title" href="{{ site.baseurl }}/">
            <img src="{{ "/assets/barista-icons_coffea-arabica.svg" | prepend: site.baseurl }}" alt="{{ site.title }}" title="{{ site.title }}">
            <span class="hidden-lg-up">
                {{ site.title }}
            </span>
        </a>
    </div>
    <div class="collapse navbar-toggleable-md" id="main-menu">
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn text-muted">
                <i class="fa fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="{{ "/profile/" | prepend: site.baseurl }}">
                    <i class="fa fa-user"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-lock"></i> Logout
                </a>
            </div>
        </div>
        <a class="sidebar-user" href="{{ "/profile/" | prepend: site.baseurl }}">
            <div class="media">
                <div class="media-left">
                    <img src="{{ "/assets/profile.jpg" | prepend: site.baseurl }}" alt="Profile image" class="rounded img-fluid sidebar-user-img">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ site.name }}</h4>
                    My user subtitle
                </div>
            </div>
        </a>
        <ul id="menu" class="sidebar-menu">
            {% include menu.html group='main' %}
        </ul>
    </div>
</div>