---
layout: page
---

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-6 col-lg-4 push-sm-6 push-lg-8">
            <div class="card">
                {% for post in site.posts %}
                    {% if  forloop.first == false %}
                        <hr>
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title">
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h4>
                        <div>
                            <small class="card-text text-muted">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </small>
                        </div>
                        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">
                            Read more
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 pull-sm-6 pull-lg-4">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card bg-faded">
                        <h3 class="card-header">Added some charts</h3>
                        <div class="card-block">
                            <canvas id="chart-1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <h3>Blocks</h3>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="card card-inverse card-primary text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="card card-inverse card-info text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="card card-inverse card-warning text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="card card-inverse card-success text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
