.page {

    @include media-breakpoint-up(md) {
        height: 100vh;
        width: 100vw;

        .page-sidebar {
            float: left;
            height: 100vh;
            width: 20vw;
            overflow: auto;
        }

        .page-body {
            float: left;
            height: 100vh;
            width: 80vw;
            overflow: auto;
        }
    }
}
