$brand-primary: #3498db;
$brand-success: #2ecc71;
$brand-info: #3498db;
$brand-warning: #f39c12;
$brand-danger: #c0392b;

$sidebar-background: #34495e;

$line-height-computed: $line-height;
$line-height-base: $line-height;
$font-size-large: $font-size-lg;
$font-size-small: $font-size-sm;
$padding-base-vertical: $btn-padding-y-sm;
$padding-large-vertical: $btn-padding-y-sm;
$padding-small-vertical: $btn-padding-y-sm;
$padding-large-vertical: $btn-padding-y-sm;
$padding-base-horizontal: $btn-padding-x-sm;
$padding-large-horizontal: $btn-padding-x-sm;
$padding-small-horizontal: $btn-padding-x-sm;