---
layout: page
title: Messages
permalink: /messages/
group: main
---

<div class="row">
    <div class="col-12">
        <p>
            So modals are awesome, but i like more.
        </p>
        <p>
            Let's message, try and click the button here and add a message.
        </p>
        {% include_relative message_default.html %}
        {% highlight html %}{% include_relative message_default.html %}{% endhighlight %}

        <h3>
            Colors
        </h3>
        <p>
            A message is like a bootstrap model, but you can just use it like you want. Just add an id to the message and target
            it using a link.
        </p>
        {% include_relative message_large.html %}
        {% highlight html %}{% include_relative message_large.html %}{% endhighlight %}

    </div>
</div>
{% include edit.html %}