---
layout: page
title: Tables
permalink: /admin/tables/
group: main
---
<div class="card">
    <div class="card-block">
        <h3 class="card-title">Default tables</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>name</th>
                    <th>github</th>
                </tr>
                </thead>
                <tbody>
                {% for data in site.data.tabledata %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.github }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h3 class="card-title">Hover tables</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>name</th>
                    <th>github</th>
                </tr>
                </thead>
                <tbody>
                {% for data in site.data.tabledata %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.github }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h3 class="card-title">Striped tables</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>
                    <th>github</th>
                </tr>
                </thead>
                <tbody>
                {% for data in site.data.tabledata %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.github }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <h3 class="card-title">Inversed tables</h3>
        <div class="table-responsive">
            <table class="table table-inverse">
                <thead>
                <tr>
                    <th>name</th>
                    <th>github</th>
                </tr>
                </thead>
                <tbody>
                {% for data in site.data.tabledata %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.github }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include edit.html %}
